* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow: hidden;
}
body { 
    margin: 0; 
    background: #111; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

#controls { 
    color: #aaa; 
    font-family: monospace; 
    font-size: 13px; 
    padding: 5px; 
}
#connectBtn { 
    padding: 5px; 
}


canvas {
 display: block;
}
